<div class="jumbotron">
  <form>
    <input type="text" ng-model="todo.todoItem" size="30"
           placeholder="enter new todo here" autofocus>
    <button ng-click="todo.addTodo()">Add</button>
  </form>

  <ul class="unstyled">
    <li ng-repeat="item in todo.todoList.items">
      <input type="checkbox" ng-model="item.done">
      <span class="done-{{item.done}}">{{item.content}}</span>
      <button ng-click="todo.todoList.delete(item)">Delete</button>
    </li>
  </ul>
</div>
